@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-background">

    <div class="home-content">

        <div class="inner">

            <p id="title">gummi bear kingdom</p>
            <h1 id="sub-title">BUY TREATS FROM ANYWHERE</h1>
            <p id="last-title">We've searched the world for the best candies so you don't have to</p>

            <button><a href="/Products">SEE PRODUCTS</a></button>

            <div class="row">

                <div class="col-xs-4" id="column-one">
                </div>

                <div class="col-xs-4" id="column-two">
                </div>

                <div class="col-xs-4" id="column-three">
                </div>
            </div>


        </div>

    </div>

</div>